<title>Ansible Application</title>
  <style>* { font-family: Helvetica, Arial, sans-serif }
</style>
<body>
  <br />
  <H1>
"Hello, World! <br>
I am the web server running on : {{ inventory_hostname }}";
  </H1>
<br />

<H1>
The servers are <br>:

        {% for host in groups['all'] %}
              '{{ hostvars[host]['inventory_hostname'] }}'
              <br>
        {% endfor %}
</H1>
</div>
</H1>
</body>
</html>
